{% extends "basic.html" %}
{% block content %}

<div class="jumbotron black_class">
  <h1>TEAM FROM HINDUSTAN UNIVERSITY</h1>
  <p> we are team from the hindustan university chennai ,India</p>
  <p>This was developed to address some of the common questions raising among the students and the society </p>
  <h3>We are ready to solve Your problems</h3>
  <h5>You can fill the form by navigating to the sugesstions page in the navigation bar</h5>
  <p>We even appreciate sending mails to us  at </p>
  <p>bhanupalagati@gmail.com</p>
  <h2>Thank you </h2>
</div>
{% endblock %}
