{% extends "basic.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<div class="jumbotron style1">
  <h2>MACHINE LEARNING MODEL APPLICATION FOR SOLVING THE SMART PROBLEMS</h2>

</div>
<div class="jumbotron" style="font-family: 'Pacifico', cursive;">
    <h3>TITANIC PROBLEM</h3>
    <p>We have collected data from the kaggle data world and we trained the model using almost all the available classifiers and found
     that random forest with 15 trees is performing the best results </p>
    <h4>Accuracy Score</h4>
    <p>Based on the test set results it has been proved that we are getting 86 percent Accuracy score so we can claim that the model is well trained
    and can be launched as a reference model</p>
    <h4>How To Use</h4>
    <p>This is interesting question there are quite lot of ways to get advantage from these sort of applications</p>
    <p>Here we keep in mind that when there is an accident usually few people will miss for them we have to perform search operations
    in that scenario if we gathered all the people's situations we can predict whether the missing person will be still alive or not </p>

</div>

<div class="jumbotron style3">
  <h3>GRE PROBLEM</h3>

  <p>Here we used the collected the data from the kaggle data world and used this to find the regression patterns in the Gre dataset</p>
   <h4>Accuracy Score</h4>
  <p>Because this is a regressor checking the accuracy explicitly won't give us the better result so we tested this manually and validated
  with the results which gave better results nearly 80 percent accuracy it has provided</p>
  <h4>Usage</h4>
  <p>There are lot of people using forums to get there question to be answered that whether they will get a gre seat or not</p>
  <p> So by this site they can provide some information about their marks and the situation they our well trained machine will work out the
  problem and give us the result as a probability of getting seat in the university or not</p>

</div>

{% endblock %}
